body {
   background-color: #b6bdc0;
   font-family: 'Nunito Sans', sans-serif;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
    
}

button {
    margin: 10px 2px;
    border-radius: 10px;
    background-color: white;
    color: darkslateblue;
    font-weight: bold; 
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

h2 {
    color: darkslateblue;
}

form {
    border-radius: 10px;
    width: 250px;
    border: 0;
    background-color: darkslateblue;
    color: white;
}

/* .dateAndMood {
    width: 32%;
} */

.entryLog {
    background-color: darkslateblue;
    border-radius: 10px;
    width: 50%;
}

.whiteSpace {
    background-color: white;
    border: solid 15px darkslateblue;
    padding: 10px;
    border-radius: 10px;
}

h3 {
    color: white;
    padding: 10px 10px 0 17px;
    text-decoration: underline;
}