body {
   background-color: #b6bdc0;
   font-family: 'Nunito Sans', sans-serif;
   margin: 0 0 50px 0;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
    
}

button {
    margin: 10px 2px;
    border-radius: 10px;
    background-color: white;
    color: darkslateblue;
    font-weight: bold; 
}

.recordButtonDiv {
    display: flex;
    justify-content: center;
}

.entryButtonDiv {
    margin: 0 14px
}

h2 {
    color: white;
    margin-left: 10px;
    margin-bottom: 5px;

}

form {
    margin-top: 10px;
    border-radius: 10px;
    width: 250px;
    border: 0;
    background-color: darkslateblue;
    color: white;
    margin-left: 10px;
    box-shadow: 5px 5px 10px black;
}

/* .dateAndMood {
    width: 32%;
} */

.entryLog {
    background-color: darkslateblue;
    border-radius: 10px;
    width: 60%;
    margin: 0 10px;
    box-shadow: 5px 5px 10px black;
}

.whiteSpace {
    background-color: white;
    border: solid 15px darkslateblue;
    padding: 10px;
    border-radius: 10px;
}

h3 {
    color: white;
    padding: 10px 10px 0 17px;
    text-decoration: underline;
}

.footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    border-bottom: 2px solid darkslateblue;
    margin-left: 0;
    padding: 0.5em 0 0.5em 1em;
    margin-bottom: 2em;
    position: fixed;
    z-index: 11;
    bottom: 0;
    width: 100%;
    background-color: #6e777a;
    margin: auto;
    color: darkslateblue;
    font-weight: bold;
}

.footer__item {
    margin: 0 1rem 0 0;
    display: flex;
    flex-wrap: nowrap;
}

.footerText {
    margin: 0 50px 0 0;
}