body {
   background-color: #b6bdc0;
   font-family: 'Nunito Sans', sans-serif;
   margin: 115px 0 60px 0;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
    
}

button {
    margin: 10px 2px;
    border-radius: 10px;
    background-color: white;
    color: darkslateblue;
    font-weight: bold; 
}

.recordButtonDiv {
    display: flex;
    justify-content: center;
}

.entryButtonDiv {
    margin: 0 14px
}

h2 {
    color: white;
    padding: 10px 10px 0 17px;
    text-decoration: underline;
}

/* TODO change margins for h2 and h4 to make them less spaced out AND make the See My Posts button not look like poop */

h4 {
    color: white;
    padding: 10px 10px 0 17px;
}

form {
    margin-top: 10px;
    border-radius: 10px;
    width: 250px;
    border: 0;
    background-color: darkslateblue;
    color: white;
    margin-left: 10px;
    box-shadow: 5px 5px 10px black;
}

/* .dateAndMood {
    width: 32%;
} */

.entryLog {
    background-color: darkslateblue;
    border-radius: 10px;
    width: 60%;
    margin: 0 10px;
    box-shadow: 5px 5px 10px black;
}

.whiteSpace {
    background-color: white;
    border: solid 15px darkslateblue;
    padding: 10px;
    border-radius: 10px;
}

h3 {
    color: white;
    padding: 10px 10px 0 17px;
    text-decoration: underline;
}

.footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    border-bottom: 4px solid darkslateblue;
    margin-left: 0;
    padding: 0.5em 0 0.5em 1em;
    margin-bottom: 2em;
    position: fixed;
    z-index: 11;
    bottom: 0;
    width: 100%;
    background-color: #6e777a;
    margin: auto;
    color: darkslateblue;
    font-weight: bold;
}

.footer__item {
    margin: 0 1rem 0 0;
    display: flex;
    flex-wrap: nowrap;
}

.footerText {
    margin: 0 50px 0 0;
}

header {
    background-color: #6e777a;
    /* display: flex; */
    color: darkslateblue;
    border-top: 4px solid darkslateblue;
    position: fixed;
    margin-left: 0;
    width: 100%;
    top: 0;
    z-index: 11;

}

#homeIcon {
    height: 70px;
    margin: 5px 20px 5px 3px;
}

#homeIcon:hover {
    transform: scale(.90)
}

#homeIcon:active {
    transform: scale(.8)
}

#searchBar {
    margin: 27px 0 30px 40px;
    height: 18px;
}

#logout {
    color: darkslateblue;
    cursor: pointer;
    text-decoration: underline;
    background: none!important;
    border: none;
    margin-right: 1em;
    margin-top: 1.7em;
    font-size: 17px;;
}

#logout:hover {
    transform: scale(.9)
}

#logout:active {
    transform: scale(.8)
}

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#notTheLogoutDiv {
    display: flex;
}

.loginRegister {
    display: flex;
    justify-content: center 
}

.loginRegister h3 {
    color: darkslateblue
}